<header>
    <div class="nav">
      <li> <a href="/"> Accueil</a></li>
      <li> <a href="/services"> Our services</a></li>
      <li> <a href="/contact_us"> Contact Us </a></li>
    </div>
 </header>