<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title> Our services </title>
</head>
<body>
    <%- include("./composants/header") %>
    <div class="service_container">
        <div class="box_container">
            <div class="service_box">
                <h4 class="title_service"> ACTIONS STRATÉGIQUES SIG </h4>
                <p class="contain_service"> Audit, évaluation et plan d'action stratégique SIG au service de votre organisation. Réflexion sur la gouvernance et le renforcement des capacités.</p>
            </div>
            <div class="service_box">
                <h4 class="title_service">ASSISTANCE TECHNIQUE SIG </h4>
                <p class="contain_service"> Nos ingénieurs consultants SIG maîtrisent la chaine de production de l'information géo-spatiale, avec des références SIG dans plus de 30 pays. </p>
            </div>
            <div class="service_box">
                <h4 class="title_service">FORMATION SIG</h4>
                <p class="contain_service"> MAPTOGIS est un organisme de formation SIG agréé. Nos formations sont dispensées sur site en France et à l'étranger (français / anglais). </p>
            </div>
            <div class="service_box">
                <h4 class="title_service">DÉVELOPPEMENT SIG</h4>
                <p class="contain_service"> Venez avec une idée, repartez avec votre projet SIG. Nous sommes intégrateur et développeur de solutions SIG, WebSIG, webApp, application géo-mobile sur mesure.</p>
            </div>
            <div class="service_box">
                <h4 class="title_service">TÉLÉDÉTECTION</h4>
                <p class="contain_service"> Les images satellites au service de la l'observation de la terre, délimitation des ressources naturelles, utilisation des terres et suivi environnemental.</p>
            </div>
            <div class="service_box">
                <h4 class="title_service"> SUPPORT SIG</h4>
                <p class="contain_service"> Helpdesk. Soutien technique SIG pour la géomobilité, SIG bureautique, bases de données, ETL, IDS, applications webmapping et géportail websig, tableau de bord de suivi-évaluation</p>
            </div>
        </div>
    </div>
</body>
</html>